language: node_js

node_js:
  - "10"

cache:
  directories:
    - node_modules

deploy:
  provider: heroku
  api_key: $HEROKU_API_KEY
  app: $HEROKU_APP_NAME
  on: master

install:
  - npm i
  - npm i -g codecov

script:
  - npm test
  - codecov